body{
    background-color:rgb(243, 179, 240);
    
}
h1{
    
    text-align: center;
    color: cornsilk;
    font-size: 50px;
}
#count{
    margin-top: 100px;
    font-size: 100px;
    text-align: center;
}
.button{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}
#like{
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    
}
#dislike{
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
    margin-left: 20px;
}
